@font-face {
  font-family: "YourFavoriteFont";
  src: url("YourFavoriteFont.eot") format("embedded-opentype");
  src: url("YourFavoriteFont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
