@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Material+Icons');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
body,
p,
div,
span,
.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px
}

h1 {
  font-size: 36px
}

h2 {
  font-size: 32px
}

h3 {
  font-size: 24px
}

h4 {
  font-size: 18px
}

h5 {
  font-size: 16px
}

.btn {
  line-height: 35px;
  height: 35px;
  padding: 0 20px;
  text-shadow: none
}

.btn-lg {
  line-height: 46px;
  height: 46px;
  padding: 0 35px;
  font-size: 16px;
  border-width: 2px
}

.navbar-light {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(82, 165, 221, 1);
  background: -moz-linear-gradient(left, rgba(82, 165, 221, 1) 0%, rgba(82, 166, 221, 1) 34%, rgba(51, 131, 185, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(82, 165, 221, 1)), color-stop(34%, rgba(82, 166, 221, 1)), color-stop(100%, rgba(51, 131, 185, 1)));
  background: -webkit-linear-gradient(left, rgba(82, 165, 221, 1) 0%, rgba(82, 166, 221, 1) 34%, rgba(51, 131, 185, 1) 100%);
  background: -o-linear-gradient(left, rgba(82, 165, 221, 1) 0%, rgba(82, 166, 221, 1) 34%, rgba(51, 131, 185, 1) 100%);
  background: -ms-linear-gradient(left, rgba(82, 165, 221, 1) 0%, rgba(82, 166, 221, 1) 34%, rgba(51, 131, 185, 1) 100%);
  background: linear-gradient(to right, rgba(82, 165, 221, 1) 0%, rgba(82, 166, 221, 1) 34%, rgba(51, 131, 185, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a5dd', endColorstr='#3383b9', GradientType=1);
}

.navbar-dark {
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  transition: ease all 0.3s
}

.navbar-dark .navbar-nav .nav-link {
  color: #000
}

.navbar-dark .navbar-nav .active>.nav-link {
  color: #000
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #000
}

.fixed-header {
  top: -77px;
  opacity: 0;
  position: fixed;
  width: 100%;
  z-index: 999
}

.fixed-header.opacity {
  top: 0;
  opacity: 1;
  transition: ease all 0.3s
}

.navbar-dark .navbar-toggler {
  background: #307bad
}

.text-primary {
  color: #307bad !important;
}

.text-secondary {
  color: #474747 !important;
}

.text-medium {
  font-weight: 600
}

.text-light {
  font-weight: 300
}

.rounded-btn {
  border-radius: 50px
}

.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #888;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #888;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #888;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #888;
}

/* .btn-outline-dark {
  color: #0059aa;
  border-color: #0059aa;
} */

.btn-outline-dark:hover {
  color: #fff;
  background: #0059aa;
  border-color: #0059aa;
}

.btn-primery {
  background: #3c8cc3;
  border: 2px solid #3c8cc3;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  font-weight: 400;
  cursor: pointer;
}

.btn-primery:hover {
  background: #fff;
  color: #3c8cc3;
}

/*************** Index *****************/

.navbar-light.bg-light .nav-link {
  color: #fff
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #fff
}

.home-banner {
  position: relative;
  min-height: 180px;
  background: rgba(82, 165, 221, 1);
  background: -moz-linear-gradient(left, rgba(82, 165, 221, 1) 0%, rgba(82, 166, 221, 1) 34%, rgba(51, 131, 185, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(82, 165, 221, 1)), color-stop(34%, rgba(82, 166, 221, 1)), color-stop(100%, rgba(51, 131, 185, 1)));
  background: -webkit-linear-gradient(left, rgba(82, 165, 221, 1) 0%, rgba(82, 166, 221, 1) 34%, rgba(51, 131, 185, 1) 100%);
  background: -o-linear-gradient(left, rgba(82, 165, 221, 1) 0%, rgba(82, 166, 221, 1) 34%, rgba(51, 131, 185, 1) 100%);
  background: -ms-linear-gradient(left, rgba(82, 165, 221, 1) 0%, rgba(82, 166, 221, 1) 34%, rgba(51, 131, 185, 1) 100%);
  background: linear-gradient(to right, rgba(82, 165, 221, 1) 0%, rgba(82, 166, 221, 1) 34%, rgba(51, 131, 185, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a5dd', endColorstr='#3383b9', GradientType=1);
}

.home-banner:before {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 0;
  background: url('../assets/img/home-banner.png') no-repeat top center;
  z-index: 0;
  height: 200px
}

.home-banner-text {
  padding: 60px 5px 130px;
  color: #fff;
  text-align: center;
  z-index: 9
}

.home-banner-text h2 {
  font-weight: 600;
}

.home-banner-text h6 {
  padding-left: 15px;
  padding-right: 15px
}

.how-it {
  padding: 65px 0 55px
}

.how-image {
  min-height: 133px
}

.why {
  padding: 65px 0 55px;
  background: #f3f3f3
}

.why-image {
  min-height: 80px
}

.apply {
  background: url('../assets/img/apply-bg.jpg') no-repeat top center;
  padding: 88px 0;
}

footer {
  background: #151515;
  padding: 20px 0 10px
}

.footer-links {
  list-style-type: none;
  padding: 0;
  float: left;
}

.footer-links li {
  position: relative;
  margin-right: 20px;
  float: left;
}

.footer-links li:before {
  position: absolute;
  content: "|";
  right: -13px;
  color: #999
}

.footer-links li:last-child:before {
  content: "";
}

.footer-links li a {
  color: #e7e7e7;
  font-size: 14px;
  font-weight: 300
}

.social-links {
  list-style-type: none;
  padding: 0;
  float: right;
}

.social-links li {
  float: left;
  margin-right: 15px
}

.social-links li:last-child {
  margin-right: 0
}

.social-links li a {
  color: #fff;
  font-size: 26px;
}

/*-----apply-------*/

.aboutClass {
  background: url('../assets/img/about-baner2.jpg') no-repeat top center;
}

.applyNow {
  background: url('../assets/img/about-baner.jpg') no-repeat top center;
}

.inner-banner {
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;
}

.inner-banner .home-banner-text {
  padding-top: 50px;
  padding-bottom: 50px;
}

.inner-banner .home-banner-text h2 {
  font-size: 40px;
  font-weight: 500;
}

.inner-banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(51, 131, 185, 0.9)
}

.inner-banner h6 {
  font-size: 30px;
  font-weight: 300;
}

.inner-nav {
  position: absolute;
  z-index: 999;
  width: 100%;
}

.myAccordionClass {
  cursor: pointer;
}

.accordionHeader {
  color: black
}

.triggerOpenedClass {
  color: #2f6caa;
  font-weight: 600;
}

.outerClass {
  cursor: text
}

.inner-nav .navbar-light {
  background: none !important;
}

.apply-form {
  border: 1px solid #e8e8e8;
  padding: 20px;
  text-align: center;
  margin: 20px;
}

.apply-bt {
  background: #3585ba;
  border-radius: 4px;
  color: #fff;
  border: none;
  padding: 7px 20px;
  font-size: 16px;
  font-size: 14px;
  cursor: pointer;
}

.apply-bt:hover {
  background: #266c9c;
}

.apply-form .form-group {
  margin: 20px 0;
}

.list-body {
  padding: 45px 0;
  background: #fff;
}

.apply-form .form-control {
  width: 50%;
  display: inline-block;
  font-size: 14px;
}

.page-nav {
  background: #f3f3f3;
  color: #606060;
}

.page-nav ul {
  margin: 0;
}

.list-inline li {
  display: inline-block;
}

.page-nav ul li a {
  color: #45b3ff;
  display: block;
}

.list-container {
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  margin-bottom: 30px;
}

.outer-list .row {
  margin-right: 0;
  margin-left: 0;
}

.divide-list {
  border-top: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}

.divide-list ul {
  margin-bottom: 0;
}

.divide-list ul li {
  float: left;
  width: 25%;
  padding: 0;
  margin: 0;
  border-right: 1px solid #e7e7e7;
}

.divide-list ul li:last-child {
  border-right: 0;
}

.divide-list figure {
  margin: 0 auto;
}

.divide-list .l-box img {
  display: block;
  margin: 0 auto;
}

.divide-list .l-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  padding: 20px;
  text-align: center;
}

.outer-list .left-div {
  margin-right: -15px;
  margin-left: -15px;
}

.list-container .col-lg-3 {
  max-width: 190px;
  margin: 0 auto;
}

.list-container .col-lg-9 {
  -ms-flex: 0 0 79%;
  flex: 0 0 79%;
  max-width: 80%;
}

.list-container h2 {
  font-size: 20px;
  padding: 10px 15px;
  font-weight: 600;
  color: #45b3ff;
  margin-bottom: 0;
  border-right: 1px solid #e7e7e7;
}

.l-box span,
.l-box small,
.l-box strong {
  display: block;
  margin: 0;
}

.l-box strong {
  font-size: 20px;
  color: #212121;
  line-height: 28px;
  text-transform: uppercase;
}

.l-box span {
  text-transform: uppercase;
  color: #8c8c8c;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.right-btn-div {
  padding: 28px 0px 10px;
}

.right-btn-div .btn-primary {
  border: 0;
  background: #52a5dd;
  font-size: 12px;
  text-transform: uppercase;
}

.right-btn-div .btn-danger {
  border: 0;
  background: #ce0303;
  font-size: 12px;
  text-transform: uppercase;
}

.right-btn-div .btn-link {
  color: #52a5dd;
}

.right-btn-div .btn {
  max-width: 170px;
  display: block;
  margin: 0 auto;
}

.page-nav ul li {
  position: relative;
  padding: 10px 10px;
  text-transform: capitalize;
}

.page-nav ul li:after {
  right: -2px;
  top: 27%;
  position: absolute;
  height: 44%;
  width: 1px;
  content: '';
  background: #606060;
}

.page-nav ul li:last-child:after {
  display: none;
}

.apply-form p {
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;
}

.apply-form p span {
  color: #a2a1a1;
  font-weight: 600;
}

.about-text {
  font-size: 30px;
  font-weight: 400;
}

.help-bg {
  background: url(../assets//img//help-bg.jpg)no-repeat;
  background-size: cover;
  width: 100%;
  height: 472px;
}

/* .home-banner{
	background: url()
} */

.help-form .form-control {
  font-size: 14px;
}

.app-form {
  border: 1px solid #e8e8e8;
  padding: 20px;
  margin: 20px;
}

.app-form .form-group label {
  font-size: 14px;
  /* margin-right: 8px; */
  margin-bottom: 0;
}

.app-form .form-group .form-control {
  font-size: 14px;
  width: 80%;
  line-height: 24px;
  background-color: #f5f7fa;
}

.additional-fields {
  background: #fafafa;
  border: 1px solid #ced4da;
  padding: 15px;
}

.additional-fields .form-control {
  width: 100%;
}

.app-form .additional-fields .form-group .input-group,
.additional-fields .input-group-prepend {
  width: 100%;
}

.app-form .additional-fields .input-group .form-control {
  width: 100%;
  border-right: 1px solid #ced4da !important;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.app-form .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #3c8cc3;
  background: #fff;
}

.app-form .nav-item a {
  color: #3c8cc3;
  margin-right: 5px;
  border-radius: 0;
  font-size: 16px;
  font-weight: 600;
}

.app-form .nav-item a:hover,
.app-form .nav-item a.active {
  color: #3c8cc3;
  border-bottom: 2px solid #3c8cc3;
}

.app-form p {
  font-size: 15px;
  font-weight: 400;
}

.app-form ul {
  display: flex;
  justify-content: space-evenly;
}

.app-form .form-group {
  display: flex;
  justify-content: left;
  align-items: center;
}

.app-form .form-group .input-group {
  width: 80%;
}

.app-form .form-group .input-group .form-control {
  border-right: none;
}

.input-group-text {
  background-color: #fff;
}

.login-box {
  border: 1px solid #9ac9f4;
  padding: 25px 40px;
  background: #c5e4f8;
  margin: 40px 0;
}

.line {
  /* border-bottom: 1px solid #e8e8e8; */
  border-top: 1px solid #e8e8e8;
  padding: 20px 30px;
}

.app-right {
  margin: 20px;
}

.app-collapse .card-header {
  background-color: #fff;
  border-bottom: none;
  padding: 0;
}

.app-collapse .card-body {
  padding: 5px;
}

.app-collapse .btn-link {
  color: #3d3d3d;
}

.app-collapse .btn-link.focus,
.btn-link:focus {
  text-decoration: none;
}

.app-collapse .btn-link.focus,
.btn-link:hover {
  text-decoration: none;
}

.app-collapse .card {
  border: none;
}

.app-collapse .btn {
  padding: 0;
  font-weight: 600;
  color: #2f6caa;
}

.app-collapse .col-btn {
  padding: 0 20px;
  margin-top: 10px;
}

.app-collapse .col-btn:hover {
  color: #fff;
}

.middle {
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 30px;
}

.img img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 40px;
}

.nav-pills {
  display: flex;
  justify-content: space-between;
}

/********************************/

.cust-modal {
  background: #ffff;
  width: 354px;
  padding: 20px;
  box-shadow: 0px 1px 3px -1px #383838;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cust-modal a {
  position: absolute;
  top: 10px;
  right: 10px;
}

.cust-modal h5 {
  color: #000 !important;
  font-size: 17px;
  margin: 15px auto;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-align: center;
}

.cust-modal button {
  width: 100%;
}

.ReactModal__Overlay {
  background: rgba(0, 0, 0, .5) !important
}

/************** Linting *************/

.list-top ul {
  justify-content: space-between
}

.list-top ul li {
  background: #45b3ff;
  color: #fff;
  width: 24%;
  padding: 12px 10px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

.list-wrap.odd {
  background: #f8f9fa
}

.list-wrap.even {
  background: #fff
}

.list-wrap ul {
  justify-content: space-between;
  align-items: center;
  margin: 0
}

.list-wrap ul li {
  width: 24%;
  text-align: center;
}

.list-wrap ul li .company-logo {
  width: 100px;
}

.list-wrap ul li .btn {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

/********* Responsive Style **************/

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
  }
}

@media (min-width: 576px) and (max-width:768px) {}

@media (max-width: 575.98px) {
  .navbar-light {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .calling {
    text-align: center;
  }
  .img {
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .img img {
    margin-top: 0;
  }
  .app-form .form-group label {
    margin-bottom: 7px;
  }
  .text-center p {
    font-size: 14px;
    margin-bottom: 12px !important;
  }
  .login-box {
    padding: 20px;
  }
  .app-form .nav-item a {
    font-size: 14px;
  }
  .app-form .nav-pills .nav-link {
    padding: 0;
  }
  .app-form h5 {
    font-size: 15px;
  }
  .app-form p {
    font-size: 14px;
  }
  .app-form .form-group .form-control {
    width: 100%;
  }
  .app-form .form-group label {
    font-size: 13px;
  }
  .app-right h3 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .footer-links,
  .social-links {
    float: none;
    text-align: center;
  }
  .footer-links li,
  .social-links li {
    float: none;
    display: inline-block;
  }
  .navbar-nav .btn {
    margin: 5px 0
  }
  .list-top ul {
    display: none !important
  }
}

@media (max-width: 667px) {}

@media (max-width: 375px) {}

@media (max-width: 360px) {}
