/* Your custom styles */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Material+Icons');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

/* Your custom styles */
body{font-family: 'Poppins', sans-serif !important;}
.btn.btn-raised.btn-primary{background: #2ea4e1;border:0;font-size:16px;line-height:2}
.btn.btn-outline-primary{font-size:16px;line-height:2;border-color: #2ea4e1;color: #2ea4e1;}
.btn.btn-outline-primary:hover{color:#fff;background: #2ea4e1;}
.btn.btn-outline-primary.btn-sm{font-size: 12px;}

.btn.btn-raised.btn-primary:hover,.btn.btn-raised.btn-primary:focus,.btn.btn-raised.btn-primary:active{background: #3e3e3e}
.black-text{color: #3e3e3e !important}
.gray-text{color: #939393 !important}
.gray-bg{background: #f2f2f2}

.right-box{height:100%;border-radius: 3px;}
.detils-des-list li{width:50%;color:#6a6a6a;font-size: 16px;margin: 5px 0;}



/***********************header********************/

nav.bg-light{background: #2ea4e1 !important;padding: 15px 0}
.navbar-light .navbar-nav .nav-link{text-transform: none;color:#fff;font-weight: 400;font-size: 16px;}
.navbar-light .navbar-nav button{margin: 0}
.navbar-light .navbar-nav button.btn.btn-raised{background-color: #3e3e3e;padding: 10px 15px;text-transform: none;font-size: 16px;font-weight: 400;}
.navbar-light .navbar-nav .material-icons{color:#fff;padding: .6rem;cursor: pointer;}

/***********************Banner********************/

.banner{width:100%;height:610px;
  /*background: url(../img/banner.jpg);*/
  background-size: cover;}
.banner .btn-primary{font-size: 18px;font-weight: normal;}

/***********************campaigns********************/

.campaigns .card{position: relative;}
.campaigns .card-body{background: #2ea4e1}
.campaigns .card .media{position: relative;top:0;left:0;background:#fff;width:100%}
.campaigns .card .media-body h5{font-size:18px;font-weight: 600;    object-fit: contain;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 34%;
    overflow: hidden;
}
.campaigns .card .media .img-circle{border-radius: 100%;width:40px;height:40px;border: 3px solid #2ea4e1}
.campaigns .card .card-footer{font-size: 14px;font-weight: 500}
.campaigns .card .card-footer i{color:#2ea4e1;margin-right: 5px}
.campaigns .card .card-footer small{font-size: 14px}
.campaign-filter .badge{font-weight: normal;color: #fff;font-size: 16px;padding: 10px 30px;margin:0 7px;cursor: pointer}
.campaign-filter .badge-secondary{background: #cdcdcd}
.campaigns .card .progress{height:3px;border-radius:0}
.campaigns .card .progress .progress-bar{background: #f7487d}

/***********************testimonial********************/
.testimonial{
  /*background-image: url(../img/testimonial.jpg);*/
  background-size: cover;background-attachment: fixed;}
.testimonial span{color:#3e3e3e;font-size:14px}
.testimonial h6,.testimonial p{font-size:18px}
.testimonial img{width:75px;height:75px;border-radius: 100%;object-fit:cover}
#carouselExampleIndicators{padding-bottom: 30px}
.carousel-indicators{bottom: 0;margin:0}

/***********************blog********************/
.blog .card img{height: 320px;object-fit:cover;}
.blog .card p,.blog .card span{font-size:16px;}


/***********************footer-top********************/
.footer-top{
  /*background-image: url(../img/footer.jpg);*/
  background-size: cover;background-position: bottom center;}
.footer-top p{font-size: 14px;font-weight: 300;color:#d5d5d5}
.footer-top ul li a{font-size: 14px;font-weight: 300;color:#d5d5d5;margin-bottom: 15px;display: block;}
.footer-top .social a{background: rgba(0,0,0,.3);width:35px;height:35px;border:1px solid #c4c4c4;border-radius:2px;margin-right: 10px;text-align: center;line-height: 35px}
.footer-top .social a i{color:#d5d5d5;font-size:22px}

.footer-top  .form-control{color:#fff}
footer{background: #000}
footer span{color:#d5d5d5;font-size:14px;}
footer .nav .nav-link{color: #d5d5d5;font-size:14px;text-transform: none;}

/**************************signup**********************/
.banner-signup{
  /*background: url('../img/signup-banner.jpg');*/
  height:240px;}
.register-text{font-weight: 500;font-size:18px;}
.signup label i{margin-right:5px}
.login .card{box-shadow: none;border:1px solid #e6e6e6}


.form-control{min-height:44px;border:1px solid #e6e6e6;border-radius:2px}
.form-group label{font-size:14px}
.custom-file,.custom-file-input,.custom-file-label,.custom-file-label{height:44px;line-height: 30px;}
.custom-file-label::after{top:3px;right:3px;background: #2ea4e1;color:#fff}


.input-group-prepend{border:1px solid #e6e6e6;border-radius:2px 0 0 2px;border-right:1px solid #fff;margin-right:-1px;z-index: 1;width:35px}
.vr{height: 100%;width:1px;border-left:1px solid #ddd;margin: 0 auto;}
.vr b{background: #2ea4e1;width: 37px;height: 37px;border-radius: 100%;color: #fff;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);text-align: center;line-height: 37px;font-weight: normal;text-transform: uppercase;font-size: 14px;}

.login-right-social ul li{padding:0 15px;border-right:1px solid #ddd;}
.login-right-social ul li:last-child{border: 0;}
.login-right-social ul li i{font-size:22px;color:#fff;width:40px;height:40px;border-radius:100%;line-height: 40px;}
.login-right-social ul li.facebook i{background: #3b5998}
.login-right-social ul li.google i{background: #dc4e41}
.login-right-social a{font-size:12px;color:#5e5e5e}


/**************************create campaigns**********************/
.step-form .btn.btn-raised.btn-primary{width: 150px}
.steps {
  counter-reset: counter;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-left: 15px;
}
.steps li {
  margin: 10px 0;
}
.steps li:before {
  content: counter(counter);
  counter-increment: counter;
  float: left;
  margin-right: -50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 37px;
  height: 37px;
  border-radius: 100%;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  line-height: 37px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #2ea4e1;
}
.steps li.active:before {
  background-color: #2ecc71;
}
.steps li.active ~ li:before {
  background-color: #bbbbbb;
}
.steps li a, .steps li span {
  text-decoration: none;
  display: inline-block;
  padding-left: 60px;
  color: #333;
  font-size: 16px;
  line-height: 16px;
  padding-top: 0;
  padding-bottom: 0;font-size: 14px;color: #030303;line-height: 18px
}
.steps li a:hover, .steps li a:active, .steps li a:focus {
  color: #2ea4e1;
}

.steps li span{margin-top: 5px}

@media (min-width: 768px) {
  .steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0;
  }
  .steps li {
    width: calc(100% / 3);
    position: relative;
  }
  .steps li:before {
    float: none;
    margin-right: 0;
  }
  .steps li:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 19px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background-color: #2ea4e1;
  }
  .steps li:last-of-type:after {
    display: none;
  }
  .steps li.active:after {
    background-color: #bbbbbb;
  }
  .steps li.active ~ li:after {
    background-color: #bbbbbb;
  }
  .steps li.active ~ li span{
    color: #8f8f8f;
  }
  .steps li a, .steps li span {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.perks-body{box-shadow: none;background: #fafafa;border:1px solid #e6e6e6}
.perks-body ul li{border-bottom: 1px solid #ddd}
.perks-body ul li:last-child{border:0}
.perks-body ul li h6{color: #505050}
.perks-body ul li h4{color: #2ea4e1;}
.perks-body ul li h4 span{color: #7c7c7c;font-weight: lighter;font-size: 14px;display: inline-block;vertical-align: middle;}
.perks-body ul li b{color: #000000;margin: 10px 0}
.perks-body ul li b span{color: #757575;font-size: 12px;}
.perks-body ul li p{font-size:14px;}
.perks-body ul li a{font-size:12px;color:#2ea4e1}
.collaborators-btn{width:auto !important;}

.btn-search{width:80px !important}
.search-collaborators label{top:-5px !important}
.collaborators{list-style: none;padding: 0;cursor:pointer;}
.collaborators li.active{border:1px solid #2ea4e1 !important}
.collaborators li{border:1px solid transparent !important;width:100px;margin:5px;padding:5px;width: 90px;}
.collaborators li img{width:60px;height:60px;border-radius: 100%;object-fit:cover;display: block;margin: 0 auto;}
.collaborators li span{display: block;text-align: center;line-height: 13px;color: #7b7b7b;font-size: 12px;font-weight: normal;margin-top: 5px}

.input-group select.form-control{min-height:45px;background-image:url(../assets/img/down.png);}
.react-datepicker-popper{z-index: 11;}
img.rounded-circle{object-fit: cover;}
.upload-image-box img{height: 44px;border: 1px solid #ddd;border-radius: 2px;}
.login-img-div img{width:30px;height:30px;}



/*********************profile****************************/

.profile img{width:43px;height:43px;border-radius: 100%;}
.profile i{font-size: 12px;margin-left: 10px}
.list-group .active{background: #3e3e3e;border:0}
.list-group a{font-size:14px}

/*********************Dashboard****************************/

.dashboard-panel{border:1px solid #ddd;box-shadow: none;}
.dashboard-panel .card-header{background: #e9e9e9;font-size:16px}
textarea.form-control{line-height: 18px !important}
.form-control{font-size: 14px !important}
select.form-control{-webkit-appearance: none;-moz-appearance: none;
appearance: none;
/*background-image: url('../img/down.png');*/
background-repeat: no-repeat;background-position: calc(100% - 20px) center;}

/*********************explore****************************/
.explore-head{width:100%;height:300px;
  /*background: url('../img/explore-head.jpg');*/
}
.explore-head h1{font-size:36px;font-weight:500;}
.explore-head p{font-size:20px;font-weight:400;color:#fff;text-align: center}
.explore-head .input-group{background: rgba(255,255,255,.3);padding: 15px;border-radius: 5px;}
.explore-head .input-group-append{margin-left: 15px}
.explore-head .input-group-append .btn-primary{border-radius: 2px;padding: 0 30px}
.explore-filter{background: #e7e7e7}
.explore-filter span{font-size:14px;}
.explore-filter select{border:1px solid #d3d3d3;font-size: 12px;height:30px;border-radius:3px;margin-left:5px;-webkit-appearance: none;-moz-appearance: none;
appearance: none;padding-right:20px;
/*background-image: url('../img/down.png');*/
background-repeat: no-repeat;background-position: 90% center;}

/*********************details****************************/
.details-img{position: relative;border-radius:3px;overflow: hidden}
.details-img .media{position: absolute;top:0;left:0;background: rgba(0,0,0,.5);width:100%}
.details-img .media-body h5{font-size:18px;font-weight: 600}

.details-img .media .img-circle{border-radius: 100%;width:68px;height:68px;border: 3px solid #fff}
.activity-box .media h5{color:#3e3e3e;font-size:18px;}
.activity-box .media span{color:#828282;font-size: 14px}
.activity-box .media p{color:#323232;font-size:14px}
.activity-box .media img{border-radius:5px;}
.activity-box .media img.img-circle{border-radius:100%;}

.card .card-img-top
{
  height: 300px;
  object-fit: cover;
}

.create-campaign li{padding: 15px 0;border-bottom:1px solid #ddd;}
.create-campaign li:last-child{border-bottom:0;}
.create-campaign p{font-size:14px;margin: 0}
.create-campaign b{font-weight: 500;font-size: 16px;margin-bottom: 5px;display: block;}


/*   samapika   23-04-2018   */

.btn-secondary{
    background-color: #3e3e3e;
    padding: 10px 15px;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
}

.btn-secondary.btn-lg{
    padding: 15px 40px;
}

.right-heading{
    background: #e6e6e6;
    padding: 20px;
    color: #3e3e3e;
    font-weight: 400;
}

.select-perk-area h6{
    color: #3e3e3e;
}

.select-perk-area .form-control{
    border: #dbdbdb 1px solid;
    height: 51px;
    border-radius: 0;
}

.btn-pink{
    background: #e54dca;
    border-color: #e54dca;
    font-size: 16px;
    line-height: 2;
    color: #fff;
}



.btn-pink:hover, .btn-pink:focus, .btn-pink:active {
    background: #fff;
    border-color: #e54dca;
    color: #e54dca;
}

.select-perk-area .btn{
    font-size: 18px !important;
}

.Collaborators-area .media{
    border-bottom: #dbdbdb 1px solid;
    padding: 20px 0;
}

.Collaborators-area .media:last-child{
    border-bottom: none;
    padding-bottom: 0;
}

.Collaborators-area .media img{
    width: 54px;
    height: 54px;
    object-fit: cover;
}

.Collaborators-area .media h5{
    font-weight: 400;
    font-size: 18px;
}

.product-slider .owl-carousel{
    padding-top: 70px;
}

.product-slider .owl-theme .owl-nav{
    position: absolute;
    top: 0;
    right: 0;
}

.product-slider .owl-theme .owl-nav [class*=owl-]{
    color: #1f2020 !important;
    background: #ececec !important;    font-size: 18px;
    padding: 0 10px;
}

.product-slider h4{
    color: #353535;
    font-weight: 600;
}

.video-icon{
    cursor: pointer;
    position: absolute;
    background: #2ea4e1;
    color: #fff !important;
    font-size: 48px;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.details-right-box-top h2{
    color: #3e3e3e;
    font-weight: 600;
    font-size: 30px;
}

.details-right-box-top h5{
    font-size: 18px;
    color: #474747;
    line-height: 1.7;
}

.font-14{
    font-size: 14px;
}

.right-details-media img{
    width: 55px;
    height: 55px;
    object-fit: cover;
    border: #2ea4e1 3px solid;
}

.details-right-box-top h4 span{
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 300;
}
.progress{
    border-radius: 1rem;
    height: 12px;
}

.progress-bar{
    background: #2ea4e1;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.progess-count h2{
    font-size: 30px;
    color: #3e3e3e;
}

.progess-count h2 span{
    font-size: 16px;
    font-weight: 300;
}

.select-perk-d-box{
    border-radius: 3px;
    margin-bottom: 20px;
}

.select-perk-d-box h2{
    color: #2ea4e1;
}

.select-perk-d-box h2 span{
    color: #3e3e3e;
    font-weight: 300;
    font-size: 16px;
}

.select-perk-d-box h5{
    font-size: 18px;
    color: #000;
    font-weight: 600;
}

.select-perk-d-box p{
    font-size: 14px;
    margin: 10px 0 30px;
}

.select-perk-d-box p a{
    color: #2ea4e1;
    font-weight: 300;
    text-decoration: underline;
}

.text-line-through{
    text-decoration: line-through;
}

.sold-btn{
    color: #000000;
    background: #c2c2c2;
    font-size: 14px;
    border-radius: 3px;
    padding: 3px 20px;
    margin-bottom: 15px;
    display: inline-block;
    text-transform: uppercase;
}

.sold-box{
    position: relative;
}


.sold-box:before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.6);
    position: absolute;
    top: 0;
    left: 0;
}

/************************* Modal *****************************/
.popup-content{border-radius:3px;}
.custom-modal{padding:50px 30px;}
.custom-modal h2{font-size:23px;display: block;text-align: center;margin:25px auto}
.custom-modal p{font-size: 16px;display: block;text-align: center;color: #323232;font-weight: lighter;}
.button-center{margin: 0 auto;display: table}
.button-center button{margin: 0 7px;}
.campaign-img{width:110px;height:110px;margin: 0 auto;overflow: hidden;border-radius:100%}
.campaign-img img{width:100%;height:100%;object-fit:cover;}
.custom-modal .close{position: absolute;right: 15px;top: 15px;}

/***********************************************************/
.pertition-box{border:1px solid #e0e0e0;padding:20px;position: relative;margin-top: 50px;}
.pertition-box aside{position: absolute;background: #e9e9e9;top: -28px;left: -1px;font-size: 14px;padding: 3px 10px;border-radius:2px 2px 0 0;}

.custom-modal .card-body{max-height: 400px;overflow-y: scroll}


/***********************************************************/
.payment-price-box{width:200px;height:200px;border-radius:100%;background:#3e3e3e;margin: 20px auto;overflow: hidden;}
.payment-price-box b{display: block;text-align: center;color:#2ea4e1;font-size:55px;margin-top:40px}
.payment-price-box span{color:#fff;text-transform: uppercase}
.selcet-card img{width:65px;}
.selcet-card .custom-control-label::before,.custom-control-label::after{top: 0.78rem;}

/***********************************************************/
.contact-body h2{color: #3e3e3e;font-weight: 600;font-size: 30px;}
.contact-body p{font-size: #1f1f1f;font-size:16px;font-weight:300;}
.contact-body ul li{border-bottom:1px solid #c5c5c5;margin-bottom:15px;}
.contact-body ul li:last-child{border-bottom:0;}


.my-dahsboard img{border-radius:100%;overflow: hidden;width:100px;height:100px;object-fit: cover}
.my-dahsboard p{margin: 0;font-size:14px;}
.my-dahsboard .btn.btn-light{border: 1px solid #e0e0e0;color:#8f8f8f;font-size:14px;}
.my-dahsboard .media{border-bottom:1px solid #dedede;padding: 15px 0}
.my-dahsboard .latest-campaigns img{border-radius:2px}
.my-dahsboard .latest-campaigns button{background: none;border:0}
.my-dahsboard .latest-campaigns button i.fa-edit{color:#2ca606}
.my-dahsboard .latest-campaigns button i.fa-close{color:#c10a0a}
.my-dahsboard .progress{height: 6px;margin: 10px 0;}
.my-dahsboard .progress .progress-bar{background: #2ea4e1;height:6px;width:80%;}

.my-dahsboard .latest-campaigns .media:last-child{border-bottom:0}
.profile-information p{margin-bottom: 15px;display: block;overflow: hidden}
.profile-information p b{display: block;width:30%;float:left}
.profile-information p span{display: block;width:65%;float:left}
.register-image{width:20px; position:relative;margin-top: -20%;right:0px}
.register-image .register-image-file{opacity: 0;position: absolute;}

.left-filter h2{font-size:18px;text-align: left;margin-bottom:15px}
.left-filter h4{font-size:14px;text-align: left;color: #706D6D;margin-bottom:0}
.left-filter ul{list-style: none;padding: 0;margin:0 0 15px 0;display: block;overflow: hidden}
.left-filter ul li{font-size:13px;text-align: left;color: #2ea4e1;margin: 15px 0}
.left-filter ul li a{font-size:13px;text-align: left;color: #000;}
.left-filter ul li ul{padding-left: 15px}





@media (min-width: 768px){
    .product-slider h4{
        float: left;
        margin-top: 10px;
        position: relative;
    }
}


/***********************media********************/

@media (max-width: 991.98px) {
    .banner{height:auto;padding: 100px 0}
    .navbar-brand img{width: 165px;}
    .navbar-toggler{border:0}

    .vr{margin: 50px 0;height: 1px;width: 100%;border-top: 1px solid #ddd;}
    .banner-signup{height:100px;text-align: center}
}
@media (max-width: 767.98px) {
  .campaign-filter{flex-wrap: wrap}
  .campaign-filter .badge{margin:15px}
}

@media (max-width: 575.98px) {
	.container{padding: 0 15px !important;}
}



@media (min-width: 1200px) {
	.card-deck {column-count: 3;}
}
.cmntImg{
    margin-top:10px;
    margin-left:5px;
}

/***********************Sayan Css********************/
.contHead{
    color: #2ea4e1;
}

.bankUl li{
    background: #e9e9e9;
    /* left: -1px; */
    font-size: 14px;
    padding: 3px 10px;
    margin: 0 3px 5px 0;
    border-radius: 2px 2px 0 0;
    float: left;
    cursor: pointer;
}
.bankUl{
    right: 7%;
    position: relative;
    list-style-type: none;
    overflow: hidden;
}
.personalbtn {
    border: none;
    outline: none;
    padding: 8px 12px;
    background-color: #c5c2c2;
    cursor: pointer;
    font-size: 14px;
}

/* Style the active class, and buttons on mouse-over */
 .personalbtn:hover {
    background-color: rgba(250, 148, 148, 0.87);
    color: white;
}