@import "../../../../style/configs/color";

/* Example handler
 ---------------------- */
 .exampleOutput {
   padding: 20px 60px 60px;
   border-radius: 6px;
   margin-bottom: 30px;
   color: inherit;
   background-color: #eee;

   h1 {
     font-size: 50px;
     .emphasize {
       font-size: 1.5em;
       font-weight: bold;
       @if 3 < 5 {
    		 color: $color-title;
       }
       @else {
      	 color: blue;
       }
     }
   }

 }
